<h1>Créer un nouveau potin</h1>

<form action="/gossips/new" method="post">
  <label for="gossip_author">Auteur :</label><br>
  <input type="text" id="gossip_author" name="gossip_author" required><br><br>

  <label for="gossip_content">Contenu :</label><br>
  <textarea id="gossip_content" name="gossip_content" rows="5" cols="40" required></textarea><br><br>

  <input type="submit" value="Créer">
</form>

<a href="/">Retour à l'accueil</a>


